
@{
    ViewBag.Title = "Home";
}

<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Lec</title>
    </head>
    <body>
        
        @using (Html.BeginForm("Login", "Home", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            <div>
                <button type="submit">Logout</button>
            </div>
        }
    </body>

</html>

