
@{
    ViewBag.Title = "Home";
}

<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Lec</title>
    </head>
    <body>

        @using (Html.BeginForm("lecturerSchedule", "Lecturer", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            <div>
                <button type="submit">My Schedule</button>
            </div>
        }
        @using (Html.BeginForm("lecturCourses", "Lecturer", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            <div>
                <button type="submit">My Courses</button>
            </div>
        }
        @using (Html.BeginForm("lecturerGreads", "Lecturer", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            <div>
                <button type="submit">Student's Greads</button>
            </div>
        }
        @using (Html.BeginForm("Login", "Home", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            <div>
                <button type="submit">Logout</button>
            </div>
        }
    </body>

</html>

