
@*@{
    ViewBag.Title = "Home";
}*@

<html>
<head>
    <style>
        body {
            background-image: url("../../images/50-Beautiful-and-Minimalist-Presentation-Backgrounds-052.jpg");
            background-repeat: repeat;
            background-color: #cccccc;
        }
    </style>
    <meta name="viewport" content="width=device-width" />
    <title>Stu</title>
</head>
    <body>

        @using (Html.BeginForm("CourseSchedule", "Student", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            <div>
                <button type="submit">Course Schedule</button>
            </div>
        }
        @using (Html.BeginForm("ExamSchedule", "Student", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            <div>
                <button type="submit">Exam Schedule</button>
            </div>
        }
        @using (Html.BeginForm("Login", "Home", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            <div>
                <button type="submit">Logout</button>
            </div>
        }
    </body>

</html>
