
@{
    ViewBag.Title = "Four";
}

    <html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Four</title>
    </head>
    <body>
        <h2>work!!</h2>
        @using (Html.BeginForm("Home", "Manager", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            <div>
                <button type="submit">Back</button>
            </div>
        }
    </body>
    </html>
