@using Software.Models;
<!--using software.models.model2; -->
@{
    ViewBag.Title = "Work!!";
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>One</title>
    
</head>
<body>
    <h2>One work!!</h2>

    @{ List<User> temp = ViewBag.MyList1; }
    @{ List<CourseTb> temp1 = ViewBag.MyList2; }

    <select id="Select1"
            @foreach (User bb in temp) {<option>@bb.ID.ToString()</option>
          }
     </select>
    <br /><br />
    <select id="Select"
            @foreach (CourseTb bb in temp1) {<option>@bb.ID.ToString()</option>
          }
     </select>
    <br />
    <br />
    @using (Html.BeginForm("Home", "Manager", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <div>
            <button type="submit">Back</button>
        </div>
    }
</body>
</html>

